body {
	background-color: #2B232B;
	font-size: 100%
}

#title {
	color: #FF6670;
	font-size: 1.5em;
	font-family: sans-serif;
	margin-left: 2.5em;
}

#mainColumn {
	margin: 0 auto;
	width: 90%;
}
#nav {
	width: 20%;
	float: right;
	color: #FF6670;
	background-color: #FFD1B5;
	padding: 1em;
}
#nav h2{
	font-size:1em;
}
#content {
	float: left;
	width: 73%;
	color: #2B232B;
	background-color: #FFD1B5;
	padding: 1em;
	font-family: serif;
}
#illustration {
	text-align: center;
	float: right;
}

